* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

a {
    text-decoration: none;
     color: inherit; 
}

#para {
  padding-top: 50px;
}
img {
    max-width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
}

.logo {
    min-width: 40px;
    min-height: 40px;
    flex-shrink: 0;
}

.brand {
    display: flex;
    
    align-items: center;
    gap: 15px;
    width: 40%;
}
header .logo-text {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
    font-weight: bold;
}

header nav ul li a {
    padding: 7px 10px;
    color: black;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 4px solid #15678d;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 60px;
    height: 4.5px;
    background-color: #15678d;
    position: relative;
    top: 7px;
    left: 6px
}

header nav ul li.btn a {
    background-color: #8fbcd1;
    color: black;
    border-radius: 50px;
    padding: 7px 15px;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

strong {
font-size: 30px;
  color: #15678d;
}

ol {
    list-style: decimal; 
  padding-left: 40px;  
    font-size: 25px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.catalog h1 {
    font-size: 40px;
    color: #15678d;
    padding: 50px 25px;
}

.hero {
    
    padding-bottom: 200px;
    position: relative;

}

.hero--info {
    width: 50%;
    
    padding-top: 50px;
    
}

.hero--info h1 {
    font-size: 40px;
    color: #15678d
}

.hero--info h3 {
    font-size: 25px;
    padding-top: 20px;
}

.hero--info .btn {
    cursor: pointer;
    background-color: #15678d;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 10px 15px;
    border: 0;
    margin-top: 15px;
}

.hero img {
    width: 30%;
    min-width: 300px;
    position: absolute;
    top: 50px;
    
    right: 0;
}

table td {
  font-size: 19px; 
}
